@import 'vars'

.about-container
  pointer-events: all
  .about-content
    max-width: 40%
    margin-left: auto
    margin-right: auto
    margin-bottom: 40px
    font-family: 'Fira Sans'
    text-align: center
    +break-medium
      max-width: 80%
    +break-small
      max-width: 90%
    p
      line-height: 140%
    ul
      text-align: left
      list-style: none
      padding-left: 0.8em
      li
        margin: 4px 10px
    ul li::before
      content: '➟'
      color: $blue
      padding-right: 8px
    .carousel-content
      li
        margin: 4px 0px
      ul li::before
        content: none 
      padding-bottom: 50px
    .image-item 
      padding: 20px 0 20px 20px;
    .signup-button
      background: none
      border: 1px solid $blue
      outline: none
      color: $white
      font-family: Oswald
      font-weight: 800
      font-size: 36px
      box-shadow: 1px 1px 10px 1px transparentize(lighten($blue, 5%), 0.7)
      padding: 14px 22px
      margin: 24px 0
      transition: 0.2s
      &:hover
        background: $blue
        cursor: pointer
    .med-font
      font-size: 20px
      margin: 0

.committee-tables
  width: 90%
  margin-left: auto
  margin-right: auto
  table
    display: table
    width: 100%
