@import 'vars'

html
  background: darken($blue, 20%)
  background: linear-gradient(0deg, $blue 0%, #6988FB 60%)
  background-repeat: no-repeat
  background-size: cover
  height: 100%

.index-container
  pointer-events: none
  width: 100%
  height: 100%

  .banner-arrow-wrapper
    width: 100%
    height: 57%
    position: absolute
    top: 0
    left: 0
    z-index: -1
    filter: drop-shadow(0px 0px 8px rgba(18,23,24,0.9))
    .banner-arrow
      clip-path: polygon(50% 100%, -90% 0, 190% 0)
      width: 100%
      height: 100%
      background: $dark-grey
      +break-medium
        clip-path: polygon(50% 100%, -200% 0, 300% 0)
      .bg-particles
        position: absolute
        width: 100%
        height: 99%
        padding: 0
        margin: 0
        left: 0
        top: 0
        background: $dark-grey
        z-index: -1
        pointer-events: all

  .misc-logo
    width: 440px
    height: 440px
    position: absolute
    top: 28%
    left: 50%
    transform: translateX(-50%)
    background-size: contain !important
    background-repeat: no-repeat !important
    +break-small
      width: 300px
      height: 300px
      top: 38%

  .titles-container
    position: absolute
    bottom: 12%
    width: 540px
    margin-left: 50%
    transform: translateX(-50%)
    color: $white
    +break-small
      width: 80%
      margin-left: 50%
    .title, .subtitle
      text-align: center
    .title
      margin-top: 24%
      font-size: 2.4em
      text-transform: uppercase
      font-weight: 800
      font-family: Oswald
      line-height: 1.1em
      +break-small
        font-size: 1.4em
    .subtitle
      margin-top: 14px
      font-size: 14px
    .join-button
      border: none
      outline: none
      background: white
      font-family: 'Source Code Pro'
      padding: 16px 34px
      margin-top: 40px
      margin-left: 50%
      transform: translateX(-50%)
      font-weight: bold
      pointer-events: all
      animation: join-glitch
      animation-duration: 4s
      animation-iteration-count: infinite
      &:hover
          cursor: pointer

@keyframes join-glitch
  2%
    box-shadow: 2px 1px 2px #65f378, -2px 1px 2px #fe6865
    transform: translateX(-51%) scale(0.99, 0.98)
    text-shadow: 5x -1px 2px #65f378, -5px -1px 2px #fe6865
    clip-path: polygon(0 0, 100% 0, 92% 3%, 110% 6%, 100% 22%, 94% 24%, 109% 25%, 98% 28%, 91% 33%, 110% 35%, 94% 38%, 120% 40%, 100% 88%, 93% 90%, 104% 93%, 100% 97%, 91% 99%, 100% 100%, 0 100%)
  4%
    box-shadow: -2px 1px 2px #65f378, 2px 1px 2px #fe6865
    transform: translateX(-49%) scale(1.01, 0.99)
    text-shadow: 2px 1px 2px #fe6865, -5px 1px 2px #65f378
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 23% 97%, 1% 94%, -11% 83%, 11% 80%, 0 77%, 0 40%, 26% 38%, 11% 29%, 15% 26%, -10% 27%, 0 20%, 0 11%, 33% 9%, 0 7%)
  11%
    text-transform: uppercase
  14%
    text-transform: lowercase
    box-shadow: none
    text-shadow: none
    transform: translateX(-50%) scale(1, 1)
    clip-path: none
  100%
    text-shadow: none
    transform: translateX(-50%)
